navbar {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    background: #fff;
    height: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid darkgray;
    position: relative;
    width: 100vw;
}
.nav-logo {
    cursor: pointer;
    position: absolute;
    left: 11.875rem;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5rem;
    list-style: none;
    text-align: center;
    width: 24.5rem;
    justify-content: center;
    position: absolute;
    left: 40%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 3.8rem;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}
.menu-icon {
    display: none;
}
.lang-toggle {
    position: absolute;
    right: 19rem;
}
.logout-container {
    width: 160px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    z-index: 1;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 25px;
    padding-top: 5px;
}
.username-nav {
    cursor: pointer;
}
.join-button {
    height: 2.063rem;
    width: 5.65rem;
    top: 0.563rem;
    border-radius: 10px;
    background: #ff5555;
    border: none;
    color: white;
    position: absolute;
    right: 11.875rem;
}
.logout-btn {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
}
.logout-btn:hover {
    background: #f5f5f5;
}
