@import './variables.scss';
@import './flex.scss';
@import './typograph.scss';

@function pow($base, $exp) {
    $res: 1;

    @for $i from 1 through $exp {
        $res: $res * $base;
    }

    @return $res;
}

.nb {
    border: none;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }

        .bb-#{$name}-#{$i} {
            border-bottom: solid $color $i + px;
        }
        .m-vh-top-#{$i} {
            margin-top: $i + vh;
        }
    }

    // .br-b-#{$color} {
    //     border-color: $color;
    // }
}

@for $i from 0 through 600 {
    .h-#{$i} {
        height: $i + px;
    }

    .w-#{$i} {
        width: $i + px;
    }

    .pa-#{$i} {
        padding: $i + px;
    }
    .pt-#{$i} {
        padding-top: $i + px !important;
    }
    .pb-#{$i} {
        padding-bottom: $i + px;
    }
    .pa-vw-#{$i} {
        padding: $i + vw;
    }

    .pa-vw-#{$i} {
        padding: $i + vw;
    }

    .pl-#{$i} {
        padding-left: $i + px;
    }
    .pa-t-#{$i} {
        padding: $i + px 0;
    }
    .pa-lr-#{$i} {
        padding: 0 $i + vw;
    }

    .pa-s-#{$i} {
        padding: $i + px $i + px $i + px 0;
    }

    .ml-v-#{$i} {
        margin-left: $i + vw;
    }

    .mr-v-#{$i} {
        margin-right: $i + vw;
    }

    .m-#{$i} {
        margin-top: $i + px;
        margin-bottom: $i + px;
    }

    .ph-#{$i} {
        padding-left: $i + px;
        padding-right: $i + px;
    }
    .pv-#{$i} {
        padding-top: $i + px;
        padding-bottom: $i + px;
    }

    .pv-#{$i} {
        padding-top: $i + px;
        padding-bottom: $i + px;
    }

    .margin-tb-#{$i} {
        margin-top: $i + px;
        margin-bottom: $i + px;
    }

    .ma-#{$i} {
        margin: $i + px;
    }

    .mt-#{$i} {
        margin-top: $i + px;
    }

    .ml-#{$i} {
        margin-left: $i + px;
    }

    .mr-#{$i} {
        margin-right: $i + px;
    }

    .mb-#{$i} {
        margin-bottom: $i + px;
    }

    .mr-#{$i} {
        margin-right: $i + px;
    }
}

@for $i from 1 through 100 {
    .h-vh-#{$i} {
        height: $i + vh;
    }

    .w-vw-#{$i} {
        width: $i + vw;
    }

    .z-#{$i} {
        z-index: $i;
    }
}

.op30 {
    opacity: 30%;
}

body {
    margin: 0 auto;
}

.bshadow {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
}

.of-y-h {
    overflow-y: hidden !important;
}

.of-y {
    overflow-y: scroll;
}

.of-n {
    overflow: none;
}


.w10 {
    width: 10%;
}


.w15 {
    width: 15%;
}

.w50 {
    width: 50%;
}

.w75 {
    width: 70%;
}

.w100 {
    width: 100%;
}

.h60 {
    height: 60%;
}

.h100 {
    height: 100%;
}
.hs35 {
    height: 35%;
}
.hs20 {
    height: 20%;
}

.wbreak {
    word-wrap: break-word;
}

.w90 {
    width: 90%;
    margin: auto;
}

.mline {
    margin: 24px auto 15px;
}

.w95 {
    width: 95%;
}

.w96 {
    width: 96%;
}

.w85 {
    width: 85%;
}

.margin-auto {
    margin: auto;
}

.margin-top-auto {
    margin: auto 0;
}

// ЭНЭ CSS ЯМАР УЧИРТАЙГ САЙН СУДЛАХ
.boxs {
    box-sizing: border-box;
}

.rb {
    border: none;
}

.ru {
    text-decoration: none;
    color: white !important;
}

.ul {
    text-decoration: underline;
}

.nopadding {
    padding: none;
}

.logo {
    width: 100px;
    height: 100px;
}

.op {
    opacity: 0.5;
}

.op-little {
    opacity: 0.1;
}

.ib {
    display: inline-block;
}

.display-block {
    display: block;
}

.rm {
    margin: 0;
}

.pr {
    position: relative;
}

.v-align {
    vertical-align: middle;
}

.dr {
    top: 65px;
    right: 130px;
    border-top: none;
}

@each $name, $color in $colors {
    @for $i from 1 to 100 {
        .bt-#{$name}-#{$i} {
            border-top: solid $color $i + px;
        }

        .bl-#{$name}-#{$i} {
            border-left: solid $color $i + px;
        }

        .bright-#{$name}-#{$i} {
            border-right: solid $color $i + px;
        }
    }
}

@for $i from 1 to 100 {
    .bradius-#{$i} {
        border-radius: $i + px;
    }
    .brad-top-#{$i} {
        border-top-left-radius: $i + px;
        border-top-right-radius: $i + px;
    }
    .brad-bottom-#{$i} {
        border-bottom-left-radius: $i + px;
        border-bottom-right-radius: $i + px;
    }

    .fs-#{$i} {
        font-size: $i + px;
    }

    .fw-#{$i} {
        font-weight: $i + px;
    }

    .h#{$i} {
        height: $i + vh;
    }

    .bottom-#{$i} {
        bottom: $i + px;
    }
}
.dn {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.outl {
    outline: none;
}

//Background Stuffs
.bs {
    background-size: auto;
}

.t-0 {
    top: 0;
}

.r-0 {
    right: 0;
}
.l-0 {
    left: 0;
}

.absolute {
    position: absolute;
}

.z-i {
    z-index: 1;
}

.break-wrap {
    word-wrap: break-word;
}

.circle {
    border-radius: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.p-f {
    position: fixed;
}

.ws33 {
    width: 33%;
}

.ws30 {
    width: 30%;
}

.ws100 {
    width: 100% !important;
}

.ws90 {
    width: 90% !important;
}

.ws95 {
    width: 95%;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-right {
    text-align: right;
}

@for $i from 0 through 600 {
    .brad-#{$i} {
        border-radius: $i + px;
    }

    .gap-#{i} {
        gap: $i + px;
    }
}

@for $i from 0 through 600 {
    .gap-#{i} {
        gap: $i + px;
    }
}

// @for $i from 0 through 600 {
//     .bottom-#{$i}{
//         position: absolute;
//         bottom: $i + px;
//     }
// }

.text-button {
    border: none !important;
    background-color: inherit !important;
}

@for $i from 0 through 600 {
    .hi-#{i} {
        height: $i + px !important;
    }
}

.w-fit {
    width: fit-content;
}

.ms {
    margin: 0 10px 10px 0;
}

.f-right {
    float: right;
}

.bs-contain {
    background-size: contain;
}

.br-no {
    background-repeat: no-repeat;
}

.bp-center {
    background-position: center;
}

.top-0 {
    top: 0;
}
.list-style-none {
    list-style-type: none;
}
a:visited {
    color: black;
}
.a-style {
    color: black;
    text-decoration: none !important;
}
