$baseline: 4px;

$colors: (
    //primary actions like buttons and links
    primary: #1dd3d2,
    secondary: #ff5555,
    default: #000000,
    border: #bcbcbc,
    white: #ffffff,
    footer: #3d3d3d
);
